@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
}

.cart-quantity {
    width: 70px;
    border: solid .5px;
    border-radius: 5px;
}

.table-harga {
    width: 80px;
}

.total-payment {
    width: 173px;
}

.table-scroll {
    height: 370px;
    overflow-y: scroll;
}

.underline {
    border-bottom: 2px solid black; 
    margin-bottom: 5px;
}

footer {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
